#window {
    background-color: transparent;
    border-radius: 15px;
    font-family: Carmen Sans;
    font-weight: 600;
    color:#f7f1f3;
    animation: fadeIn;
    animation-duration: 0.05s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#outer-box {
    margin: 15px;
    border-radius: 15px;
    background-color: #203756;
}

#inner-box {
    padding: 14px;
    padding-top: 10px;
    border: 0px solid transparent;
}

#input {
    color: #f7f1f3;
    border: none;
    background-color: #876C6F;
    padding: 6px;
    margin: 15px;
    margin-bottom: 0px;
    font-size: 16px;
    border-radius: 5px;
}

/* search icon */
#input:first-child > :nth-child(1) {
  min-height: 1.25em;
  min-width: 1.25em;
  color: #E2B28C;
}

/* clear icon */
#input:first-child > :nth-child(4){
  min-height: 1.25em;
  min-width: 1.25em;
  color: #E2B28C;
}

#entry {
    border-radius: 5px;
    padding: 7px;
    margin: 0px 1px 0px 1px;
}


#entry:selected {
    background-color:#6FA1CC;
    border: none;
    outline: none;
}
     
#text:selected {
    color: #d8dee9;
}

#text {
    font-size: 16px;
    padding: 7px;
    color: #d8dee9;
} 

#img {
    padding: 4px;
}

